# 2023 ACS1

On Septermber 12, 2024, the U.S. Census Bureau released the 
[ACS 1-Year Data](https://www.census.gov/data/developers/data-sets/acs-1year.html)
for 2023. This simple notebook demonstrates how `censusdis` was able to 
use the data immediately upon it's release.

In [1]:
from datetime import datetime

datetime.now()

datetime.datetime(2024, 9, 12, 9, 9, 14, 872299)

In [2]:
import censusdis.data as ced
from censusdis.datasets import ACS1
from censusdis.states import ALL_STATES_AND_DC

In [3]:
ced.variables.search(ACS1, 2023, pattern="median household income")

,YEAR,DATASET,GROUP,VARIABLE,LABEL,SUGGESTED_WEIGHT,VALUES
0,2023,acs/acs1,B19013A,B19013A_001E,Estimate!!Median household income in the past ...,NaN,None
1,2023,acs/acs1,B19013B,B19013B_001E,Estimate!!Median household income in the past ...,NaN,None
2,2023,acs/acs1,B19013C,B19013C_001E,Estimate!!Median household income in the past ...,NaN,None
3,2023,acs/acs1,B19013D,B19013D_001E,Estimate!!Median household income in the past ...,NaN,None
4,2023,acs/acs1,B19013E,B19013E_001E,Estimate!!Median household income in the past ...,NaN,None
5,2023,acs/acs1,B19013F,B19013F_001E,Estimate!!Median household income in the past ...,NaN,None
6,2023,acs/acs1,B19013G,B19013G_001E,Estimate!!Median household income in the past ...,NaN,None
7,2023,acs/acs1,B19013H,B19013H_001E,Estimate!!Median household income in the past ...,NaN,None
8,2023,acs/acs1,B19013I,B19013I_001E,Estimate!!Median household income in the past ...,NaN,None
9,2023,acs/acs1,B19013,B19013_001E,Estimate!!Median household income in the past ...,NaN,None
10,2023,acs/acs1,B19049,B19049_001E,Estimate!!Median household income in the past ...,NaN,None
11,2023,acs/acs1,B19049,B19049_002E,Estimate!!Median household income in the past ...,NaN,None
12,2023,acs/acs1,B19049,B19049_003E,Estimate!!Median household income in the past ...,NaN,None
13,2023,acs/acs1,B19049,B19049_004E,Estimate!!Median household income in the past ...,NaN,None
14,2023,acs/acs1,B19049,B19049_005E,Estimate!!Median household income in the past ...,NaN,None
15,2023,acs/acs1,B22008,B22008_001E,Estimate!!Median household income in the past ...,NaN,None
16,2023,acs/acs1,B22008,B22008_002E,Estimate!!Median household income in the past ...,NaN,None
17,2023,acs/acs1,B22008,B22008_003E,Estimate!!Median household income in the past ...,NaN,None
18,2023,acs/acs1,B25099,B25099_001E,Estimate!!Median household income --!!Total:,NaN,None
19,2023,acs/acs1,B25099,B25099_002E,Estimate!!Median household income --!!Total:!!...,NaN,None
20,2023,acs/acs1,B25099,B25099_003E,Estimate!!Median household income --!!Total:!!...,NaN,None
21,2023,acs/acs1,B25119,B25119_001E,Estimate!!Median household income in the past ...,NaN,None
22,2023,acs/acs1,B25119,B25119_002E,Estimate!!Median household income in the past ...,NaN,None
23,2023,acs/acs1,B25119,B25119_003E,Estimate!!Median household income in the past ...,NaN,None
24,2023,acs/acs1,B29004,B29004_001E,Estimate!!Median household income in the past ...,NaN,None

In [4]:
ced.download(ACS1, 2023, ["NAME", "B19013A_001E"], state="*")

   STATE                  NAME  B19013A_001E
0     01               Alabama         71058
1     02                Alaska         93216
2     04               Arizona         81415
3     05              Arkansas         62859
4     06            California        103675
5     08              Colorado         97154
6     09           Connecticut        101124
7     10              Delaware         86843
8     11  District of Columbia        164990
9     12               Florida         78094
10    13               Georgia         84303
11    15                Hawaii         92015
12    16                 Idaho         76230
13    17              Illinois         86538
14    18               Indiana         72483
15    19                  Iowa         73308
16    20                Kansas         73653
17    21              Kentucky         63226
18    22             Louisiana         70658
19    23                 Maine         74221
20    24              Maryland        109807
21    25         Massachusetts        105911
22    26              Michigan         73345
23    27             Minnesota         86950
24    28           Mississippi         67230
25    29              Missouri         72246
26    30               Montana         72079
27    31              Nebraska         77606
28    32                Nevada         82302
29    33         New Hampshire         96593
30    34            New Jersey        108609
31    35            New Mexico         69148
32    36              New York         91863
33    37        North Carolina         78232
34    38          North Dakota         80062
35    39                  Ohio         72690
36    40              Oklahoma         66012
37    41                Oregon         80637
38    42          Pennsylvania         78815
39    44          Rhode Island         92137
40    45        South Carolina         78208
41    46          South Dakota         75162
42    47             Tennessee         72327
43    48                 Texas         85747
44    49                  Utah         95487
45    50               Vermont         81771
46    51              Virginia         95427
47    53            Washington         94715
48    54         West Virginia         56531
49    55             Wisconsin         77570
50    56               Wyoming         74331
51    72           Puerto Rico         25827