In [1]:
import os
import sys

sys.path.insert(1, os.path.join(os.getcwd(), os.pardir))

In [2]:
import censusdis.redistricting as crd

from censusdis.states import STATE_NJ, STATE_GA

import divintseg as dis

In [3]:
YEAR = 2020

FIELD_GROUP = 'P2'

In [4]:
field_names, total_field, fields_by_race = crd.metadata(YEAR, FIELD_GROUP)

In [5]:
# total_field

In [6]:
# fields_by_race

In [7]:
COUNTY_ESSEX_NJ = '013'

df_essex = crd.data(
    STATE_NJ, 
    2020, 
    'block',
    field_names.keys(),
    county=COUNTY_ESSEX_NJ,
)

In [8]:
df_essex.head()

,STATE,COUNTY,TRACT,BLOCK_GROUP,BLOCK,P2_070N,P2_071N,P2_073N,P2_060N,P2_030N,...,P2_024N,P2_037N,P2_025N,P2_013N,P2_018N,P2_006N,P2_007N,P2_019N,P2_008N,P2_009N
0,34,013,001900,1,1018,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,2
1,34,013,002000,1,1002,0,0,0,0,0,...,0,0,0,0,1,122,0,0,0,0
2,34,013,009600,1,1024,0,0,0,0,0,...,0,0,0,2,2,316,0,1,0,0
3,34,013,002300,4,4000,0,0,0,0,0,...,0,0,0,0,0,83,0,1,0,0
4,34,013,002500,1,1005,0,0,0,0,0,...,0,0,0,6,3,65,0,0,0,0

In [13]:
#dis.di(df_essex[['TRACT', 'BLOCK'] + list(field_names.keys())], by='TRACT', over='BLOCK')

dis.di(df_essex, by='TRACT', over='BLOCK', drop_non_numeric=True)

        diversity  integration
TRACT
000100   0.521729     0.468236
000200   0.388199     0.365127
000300   0.557344     0.448106
000400   0.471408     0.457054
000500   0.381118     0.369026
...           ...          ...
023000   0.457389     0.428246
023100   0.309850     0.283848
023200   0.474783     0.434376
980100   0.620622     0.619153
980200   0.644628     0.400000

[211 rows x 2 columns]