# Query Filters

In [1]:
import censusdis.data as ced
from censusdis.datasets import CBP
from censusdis.states import NJ

## The County Business Patterns (CBP) Data Set

We are working with the [County Business Patterns](https://www.census.gov/data/developers/data-sets/cbp-zbp/cbp-api.html) data set.
This data set contains data on many different industries, each of which is represented by 
a 2 to 6 digit [NAICS Code](https://www.census.gov/naics/).

First, we will quickly explore the metadata on this data set and
find the variables we want for number of establishments, number of 
employees, and annual payroll.

In [2]:
ced.variables.search_groups(CBP, 2022)

  DATASET  YEAR      GROUP                                        DESCRIPTION
0     cbp  2022  CB2200CBP  All Sectors: County Business Patterns, includi...

In [3]:
ced.variables.search(CBP, 2022, group_name="CB2200CBP")

,YEAR,DATASET,GROUP,VARIABLE,LABEL,SUGGESTED_WEIGHT,VALUES
0,2022,cbp,CB2200CBP,EMP,Number of employees,NaN,None
1,2022,cbp,CB2200CBP,EMPSZES,Employment size of establishments code,NaN,None
2,2022,cbp,CB2200CBP,EMPSZES_LABEL,Meaning of Employment size of establishments code,NaN,None
3,2022,cbp,CB2200CBP,EMP_F,Flag for number of employees,NaN,None
4,2022,cbp,CB2200CBP,EMP_N,Noise range for number of employees,NaN,None
5,2022,cbp,CB2200CBP,EMP_N_F,Flag for Noise range for number of employees,NaN,None
6,2022,cbp,CB2200CBP,ESTAB,Number of establishments,NaN,None
7,2022,cbp,CB2200CBP,ESTAB_F,Flag for number of establishments,NaN,None
8,2022,cbp,CB2200CBP,GEO_ID,Geographic identifier code,NaN,None
9,2022,cbp,CB2200CBP,GEO_ID_F,Geo Footnote,NaN,None
10,2022,cbp,CB2200CBP,LFO,Legal form of organization code,NaN,None
11,2022,cbp,CB2200CBP,LFO_LABEL,Meaning of Legal form of organization code,NaN,None
12,2022,cbp,CB2200CBP,NAICS2017,2017 NAICS code,NaN,None
13,2022,cbp,CB2200CBP,NAICS2017_F,2017 NAICS Footnote,NaN,None
14,2022,cbp,CB2200CBP,NAICS2017_LABEL,Meaning of NAICS Code,NaN,None
15,2022,cbp,CB2200CBP,NAME,Geographic Area Name,NaN,None
16,2022,cbp,CB2200CBP,PAYANN,"Annual payroll ($1,000)",NaN,None
17,2022,cbp,CB2200CBP,PAYANN_F,Flag for annual payroll,NaN,None
18,2022,cbp,CB2200CBP,PAYANN_N,Noise range for annual payroll,NaN,None
19,2022,cbp,CB2200CBP,PAYANN_N_F,Flag for Noise range for annual payroll,NaN,None
20,2022,cbp,CB2200CBP,PAYQTR1,"First-quarter payroll ($1,000)",NaN,None
21,2022,cbp,CB2200CBP,PAYQTR1_F,Flag for first-quarter payroll,NaN,None
22,2022,cbp,CB2200CBP,PAYQTR1_N,Noise range for first-quarter payroll,NaN,None
23,2022,cbp,CB2200CBP,PAYQTR1_N_F,Flag for Noise range for first-quarter payroll,NaN,None
24,2022,cbp,CB2200CBP,YEAR,Year,NaN,None

## Unfiltered Download

In [4]:
df_unfiltered_cbp = ced.download(
    CBP,
    2022,
    ["NAME", "ESTAB", "EMP", "PAYANN", "NAICS2017"],
    state=NJ,
    county="*",
)

In [5]:
df_unfiltered_cbp

,STATE,COUNTY,NAME,ESTAB,EMP,PAYANN,NAICS2017
0,34,001,"Atlantic County, New Jersey",6210,105931,5244241,00
1,34,001,"Atlantic County, New Jersey",3,35,2617,11
2,34,001,"Atlantic County, New Jersey",26,920,115211,22
3,34,001,"Atlantic County, New Jersey",26,920,115211,221
4,34,001,"Atlantic County, New Jersey",15,473,64751,2211
...,...,...,...,...,...,...,...
20472,34,035,"Somerset County, New Jersey",3,9,438,81394
20473,34,035,"Somerset County, New Jersey",3,9,438,813940
20474,34,035,"Somerset County, New Jersey",11,459,54177,81399
20475,34,035,"Somerset County, New Jersey",11,459,54177,813990
20476,34,035,"Somerset County, New Jersey",6,2,211,99

## Using `query_filter=`

In most cases, we don't need such a comprehensive list. Instead, we want the data
for a specific industry code. So we can use a query filter. In this example, we
are just interested in restaurants.

In [6]:
NAICS_RESTAURANTS = "72251"

In [7]:
df_filtered_cbp = ced.download(
    CBP,
    2022,
    ["NAME", "ESTAB", "EMP", "PAYANN"],
    query_filter={"NAICS2017": NAICS_RESTAURANTS},
    state=NJ,
    county="*",
)

In [8]:
df_filtered_cbp

   NAICS2017 STATE COUNTY                           NAME  ESTAB    EMP  PAYANN
0      72251    34    001    Atlantic County, New Jersey    629  11112  284163
1      72251    34    003      Bergen County, New Jersey   2333  27017  739784
2      72251    34    005  Burlington County, New Jersey    719  11278  253101
3      72251    34    007      Camden County, New Jersey    857  12863  296845
4      72251    34    009    Cape May County, New Jersey    609   4142  212790
5      72251    34    011  Cumberland County, New Jersey    199   2963   58016
6      72251    34    013       Essex County, New Jersey   1432  16059  425949
7      72251    34    015  Gloucester County, New Jersey    482   8881  240434
8      72251    34    017      Hudson County, New Jersey   1448  16685  469575
9      72251    34    019   Hunterdon County, New Jersey    245   2787   64125
10     72251    34    021      Mercer County, New Jersey    705   9632  231564
11     72251    34    023   Middlesex County, New Jersey   1538  19189  492866
12     72251    34    025    Monmouth County, New Jersey   1628  24861  630328
13     72251    34    027      Morris County, New Jersey   1087  15261  402735
14     72251    34    029       Ocean County, New Jersey   1126  14765  405389
15     72251    34    031     Passaic County, New Jersey    922   9610  237691
16     72251    34    033       Salem County, New Jersey     79   1081   19555
17     72251    34    035    Somerset County, New Jersey    667   8487  221568
18     72251    34    037      Sussex County, New Jersey    239   2493   53591
19     72251    34    039       Union County, New Jersey   1116  12764  381618
20     72251    34    041      Warren County, New Jersey    198   2293   48290