# ACS1 Renter Costs Demo

## Introduction

This notebook was inspired by an [issue](https://github.com/jtleider/censusdata/issues/46) asking about the availability
of the renter cost data shown at [this URL](https://data.census.gov/table?q=Renter+Costs&g=0100000US$04000$001_040XX00US01&y=2022).
The specific data shown there is from group [B25031](https://api.census.gov/data/2022/acs/acs1/groups/B25031.html) for the state of Alabama.

This notebook demonstates how to obtain that data using `censusdis`.

## Imports and configuration

In [1]:
# So we can run from within the censusdis project and find the packages we need.
import os
import sys

sys.path.append(
    os.path.join(os.path.abspath(os.path.join(os.path.curdir, os.path.pardir)))
)

In [2]:
import censusdis.data as ced
from censusdis.datasets import ACS1
from censusdis.states import AL

In [3]:
# Set your API key here.
CENSUS_API_KEY = None

In [4]:
YEAR = 2022

In [5]:
GROUP = "B25031"

## Download the data

In [6]:
df = ced.download(ACS1, YEAR, group=GROUP, state=AL)

In [7]:
df

,STATE,B25031_001E,B25031_002E,B25031_003E,B25031_004E,B25031_005E,B25031_006E,B25031_007E
0,01,913,749,783,846,1065,1146,1076

## What are the variables in the group?

We can look up their labels to see what each column corresponds to, in case we are not 
familar with the group from e.g. the URL https://api.census.gov/data/2022/acs/acs1/groups/B25031.html.

In [8]:
df_variables = ced.variables.all_variables(ACS1, YEAR, GROUP)

df_variables

,YEAR,DATASET,GROUP,VARIABLE,LABEL,SUGGESTED_WEIGHT,VALUES
0,2022,acs/acs1,B25031,B25031_001E,Estimate!!Median gross rent --!!Total:,NaN,None
1,2022,acs/acs1,B25031,B25031_002E,Estimate!!Median gross rent --!!Total:!!No bed...,NaN,None
2,2022,acs/acs1,B25031,B25031_003E,Estimate!!Median gross rent --!!Total:!!1 bedroom,NaN,None
3,2022,acs/acs1,B25031,B25031_004E,Estimate!!Median gross rent --!!Total:!!2 bedr...,NaN,None
4,2022,acs/acs1,B25031,B25031_005E,Estimate!!Median gross rent --!!Total:!!3 bedr...,NaN,None
5,2022,acs/acs1,B25031,B25031_006E,Estimate!!Median gross rent --!!Total:!!4 bedr...,NaN,None
6,2022,acs/acs1,B25031,B25031_007E,Estimate!!Median gross rent --!!Total:!!5 or m...,NaN,None