# ACS1 Renter Costs Demo

## Introduction

This notebook was inspired by an [issue](https://github.com/jtleider/censusdata/issues/46) asking about the availability
of the renter cost data shown at [this URL](https://data.census.gov/table?q=Renter+Costs&g=0100000US$04000$001_040XX00US01&y=2022).
The specific data shown there is from group [B25031](https://api.census.gov/data/2022/acs/acs1/groups/B25031.html) for the state of Alabama.

This notebook demonstates how to obtain that data using `censusdis`.

## Imports and configuration

In [1]:
import censusdis.data as ced
import censusdis.maps as cem
from censusdis.datasets import ACS1
from censusdis.states import AL

In [2]:
# Set your API key here.
CENSUS_API_KEY = None

In [3]:
YEAR = 2022

In [4]:
GROUP = "B25031"

## Download the data

### For the State of Alabama

We are using the `group=GROUP` argument to indicate that we want data for this group, and the `state=AL` to indicate that we are interested in Alabama.

In [5]:
df_al = ced.download(ACS1, YEAR, group=GROUP, state=AL)

We get back data for every variable in the group, plus a column called `STATE` that tells us the state.
We only asked for Alabama, so there is only one row returned, and the value in the `STATE` column is `'01'`,
which is the FIPS code for Alabama.

In [6]:
df_al

,STATE,B25031_001E,B25031_002E,B25031_003E,B25031_004E,B25031_005E,B25031_006E,B25031_007E
0,01,913,749,783,846,1065,1146,1076

### For All States

We began with a request to get data for the group B25031 for the state of Alabama. But we can do more general queries as well.

In this example, we have changed from `state=AL` to `state='*'` to query all states. To make it easier for
humans to read the result, we also ask for the variable `'NAME'`. This is a special variable that produces a
human-readible form of the name of the geography for each row.

In [7]:
df_all_states = ced.download(
    ACS1, YEAR, download_variables="NAME", group=GROUP, state="*"
)

The results look similar to the Alabama-only case, but there is one row for each state. The `STATE` column
is still there to tell us the FIPS code of each state, and there is also now a `NAME` column as we requested,
with the name of each state.

This corresponds to what we can see on this [web page](https://data.census.gov/table/ACSDT1Y2022.B25031?q=Renter%20Costs&g=0100000US$04000$001_010XX00US$0400000&y=2022&moe=false&tp=true).

In [8]:
df_all_states

,STATE,NAME,B25031_001E,B25031_002E,B25031_003E,B25031_004E,B25031_005E,B25031_006E,B25031_007E
0,01,Alabama,913,749,783,846,1065,1146,1076
1,02,Alaska,1329,902,980,1351,1733,2043,1671
2,04,Arizona,1450,1126,1236,1445,1696,1868,2251
3,05,Arkansas,846,661,669,831,1020,1147,949
4,06,California,1870,1460,1640,1926,2183,2573,2978
5,08,Colorado,1646,1336,1431,1683,1892,2201,2429
6,09,Connecticut,1360,965,1166,1441,1576,1768,2380
7,10,Delaware,1274,1069,1121,1261,1463,1757,1909
8,11,District of Columbia,1843,1661,1770,1979,2622,2365,3169
9,12,Florida,1525,1239,1327,1528,1729,2016,2335
10,13,Georgia,1269,1173,1223,1215,1274,1675,1940
11,15,Hawaii,1813,1215,1379,1848,2497,2967,3087
12,16,Idaho,1138,857,839,1045,1395,1695,1466
13,17,Illinois,1170,990,1013,1197,1362,1515,1413
14,18,Indiana,972,805,823,979,1137,1326,1301
15,19,Iowa,891,707,720,914,1084,1132,1100
16,20,Kansas,975,738,825,957,1161,1361,1326
17,21,Kentucky,891,681,751,893,1022,1219,1158
18,22,Louisiana,984,812,786,971,1135,1338,1460
19,23,Maine,1033,862,829,1113,1342,1441,1092
20,24,Maryland,1550,1310,1330,1600,1776,1980,2362
21,25,Massachusetts,1634,1403,1272,1727,1817,2164,2359
22,26,Michigan,1052,785,844,1089,1226,1284,1450
23,27,Minnesota,1200,938,1062,1273,1500,1642,1404
24,28,Mississippi,873,727,707,821,987,1093,1229
25,29,Missouri,954,797,782,944,1137,1283,1122
26,30,Montana,1005,675,743,1040,1226,1388,1555
27,31,Nebraska,983,768,850,977,1196,1319,1170
28,32,Nevada,1461,1070,1207,1405,1744,2069,2323
29,33,New Hampshire,1396,1094,1085,1515,1719,1880,1217
30,34,New Jersey,1555,1248,1347,1658,1826,2056,2255
31,35,New Mexico,955,780,797,945,1177,1252,1256
32,36,New York,1499,1444,1419,1502,1673,1845,1749
33,37,North Carolina,1131,1062,1074,1065,1186,1654,1877
34,38,North Dakota,863,696,725,870,1138,1182,1272
35,39,Ohio,949,747,762,977,1083,1181,1218
36,40,Oklahoma,937,720,772,918,1117,1277,1398
37,41,Oregon,1370,1135,1201,1363,1682,1896,1836
38,42,Pennsylvania,1116,932,929,1157,1286,1365,1379
39,44,Rhode Island,1254,991,913,1331,1664,1533,1901
40,45,South Carolina,1084,1017,1008,1048,1134,1376,1864
41,46,South Dakota,866,507,716,899,1063,1317,1110
42,47,Tennessee,1096,981,972,1054,1217,1420,1424
43,48,Texas,1290,1106,1151,1272,1501,1952,2052
44,49,Utah,1372,1209,1100,1277,1622,1901,2157
45,50,Vermont,1141,1053,952,1241,1342,1322,2689
46,51,Virginia,1441,1370,1366,1364,1518,1898,2255
47,53,Washington,1630,1382,1447,1623,1906,2315,2756
48,54,West Virginia,795,611,637,814,932,1107,928
49,55,Wisconsin,992,837,820,1011,1169,1285,1225
50,56,Wyoming,895,553,670,888,1174,1316,1206
51,72,Puerto Rico,535,414,334,494,605,667,599

### Zooming in to Counties

There are many different geography levels avaialable. Let's look at the variables of our group at the county level, for the 
state of Alabama. To do this, we go back to our first query for Alabama, but then add `county='*'` to ask for all counties.
We will also ask for their names.

In [9]:
df_al_counties = ced.download(
    ACS1, YEAR, download_variables="NAME", group=GROUP, state=AL, county="*"
)

The results have all the columns we had before, but there is also a new column `COUNTY` that has the FIPS
code of each county. So the geography of each row is now encoded in two columns, `STATE` and `COUNTY`. 
Notice that the `STATE` column is always `'01'` since we are only looking at Alabama data.
The `NAME` column now has the human-readible name of each county.

This corresponds to what we can see at this [web page](https://data.census.gov/table/ACSDT1Y2022.B25031?q=Renter%20Costs&g=0100000US$04000$001_040XX00US01$0500000&y=2022&moe=false&tp=true).

In [10]:
df_al_counties

,STATE,COUNTY,NAME,B25031_001E,B25031_002E,B25031_003E,B25031_004E,B25031_005E,B25031_006E,B25031_007E
0,01,003,"Baldwin County, Alabama",1107,830.0,765,965,1365,1884,NaN
1,01,015,"Calhoun County, Alabama",669,596.0,576,690,700,1545,NaN
2,01,043,"Cullman County, Alabama",811,NaN,590,666,951,1088,NaN
3,01,049,"DeKalb County, Alabama",640,NaN,450,612,693,690,NaN
4,01,051,"Elmore County, Alabama",1018,NaN,1003,926,1018,1417,NaN
5,01,055,"Etowah County, Alabama",796,NaN,545,811,865,960,NaN
6,01,069,"Houston County, Alabama",800,745.0,573,763,918,950,NaN
7,01,073,"Jefferson County, Alabama",1096,935.0,986,1016,1330,1309,1203.0
8,01,077,"Lauderdale County, Alabama",834,NaN,542,840,977,1056,NaN
9,01,081,"Lee County, Alabama",973,611.0,926,965,1008,1613,NaN
10,01,083,"Limestone County, Alabama",971,NaN,613,924,1366,2185,346.0
11,01,089,"Madison County, Alabama",1105,758.0,953,1058,1288,1358,1073.0
12,01,095,"Marshall County, Alabama",757,1244.0,445,626,871,1025,NaN
13,01,097,"Mobile County, Alabama",943,872.0,777,883,1084,1151,866.0
14,01,101,"Montgomery County, Alabama",980,827.0,883,951,1057,1164,1238.0
15,01,103,"Morgan County, Alabama",851,NaN,618,772,1011,1680,NaN
16,01,115,"St. Clair County, Alabama",821,NaN,724,714,917,1219,NaN
17,01,117,"Shelby County, Alabama",1337,1239.0,1273,1211,1571,1462,NaN
18,01,121,"Talladega County, Alabama",726,NaN,495,675,806,715,NaN
19,01,125,"Tuscaloosa County, Alabama",944,752.0,872,911,1122,1143,NaN

## What are the variables in the group?

We can look up their labels to see what each column corresponds to, in case we are not 
familar with the group from e.g. the URL https://api.census.gov/data/2022/acs/acs1/groups/B25031.html.

In [11]:
df_variables = ced.variables.all_variables(ACS1, YEAR, GROUP)

df_variables

,YEAR,DATASET,GROUP,VARIABLE,LABEL,SUGGESTED_WEIGHT,VALUES
0,2022,acs/acs1,B25031,B25031_001E,Estimate!!Median gross rent --!!Total:,NaN,None
1,2022,acs/acs1,B25031,B25031_002E,Estimate!!Median gross rent --!!Total:!!No bed...,NaN,None
2,2022,acs/acs1,B25031,B25031_003E,Estimate!!Median gross rent --!!Total:!!1 bedroom,NaN,None
3,2022,acs/acs1,B25031,B25031_004E,Estimate!!Median gross rent --!!Total:!!2 bedr...,NaN,None
4,2022,acs/acs1,B25031,B25031_005E,Estimate!!Median gross rent --!!Total:!!3 bedr...,NaN,None
5,2022,acs/acs1,B25031,B25031_006E,Estimate!!Median gross rent --!!Total:!!4 bedr...,NaN,None
6,2022,acs/acs1,B25031,B25031_007E,Estimate!!Median gross rent --!!Total:!!5 or m...,NaN,None

We can also view this in tree form, showing the hierarchy of the variables.

In [12]:
ced.variables.group_tree(ACS1, YEAR, GROUP)

+ Estimate
    + Median gross rent --
        + Total: (B25031_001E)
            + No bedroom (B25031_002E)
            + 1 bedroom (B25031_003E)
            + 2 bedrooms (B25031_004E)
            + 3 bedrooms (B25031_005E)
            + 4 bedrooms (B25031_006E)
            + 5 or more bedrooms (B25031_007E)